# intellij #
/.idea/
*.iml
/out/

## eclipse ## 
/bin/
/.settings/
.classpath
.project

## gradle ##
/build/
/.gradle/

## Yui ## 
plugin/
plugins/
*.db
Yui.cfg
Config.json
tokens.json
todo-list.json
